// Import mixins, variables and color functions
@use 'mixins' as mix;
@use 'variables' as *;
@use 'sass:color';

// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include mix.serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include mix.transition-all;
  &:hover {
    color: color.scale($primary, $lightness: -1%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include mix.sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: color.scale($white, $alpha: -30%);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}

// Styling for the services section
.service-box {
  max-width: 400px;
}